.openerp table {
    background : #D6EBFF;
    width: 100%;
    padding: 10px;
    border: 3px solid #C1D4E6;
}

.openerp table.oe_table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show
}

.openerp td, th {
    vertical-align: top;
    font-size: 10pt;
}

.openerp h1, h2, h3, h4, h5, h6 {
    clear: both
}

.openerp ol, ul {
    margin: 0;
    padding: 0;
}

.openerp li.oe_li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.openerp li span.oe_span {
    clear: both;
    line-height: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.openerp span.footnodeNumber {
    padding-right: 1em;
}

.openerp span.annotation_style_by_filter {
    font-size: 95%;
    font-family: Arial;
    background-color: #fff000;
    margin: 0;
    border: 0;
    padding: 0;
}
.openerp * {
    margin: 0;
}

.openerp .ta1 {}

.openerp .ce1 {
    font-family: Liberation Sans;
    border-width: 0.0133cm;
    border-style: solid;
    border-color: #000000;
    vertical-align: middle;
    text-align: center ! important;
    font-size: 14pt;
}

.openerp .ce2 {
    font-family: Liberation Sans;
    border-width: 0.0133cm;
    border-style: solid;
    border-color: #000000;
}

.openerp .ce3 {
    font-family: Liberation Sans;
    border-width: 0.0133cm;
    border-style: solid;
    border-color: #000000;
    vertical-align: middle;
    text-align: center ! important;
}

.openerp .co1 {
    width: 0.889in;
}

.openerp .ro1 {
    height: 0.9839in;
}

.openerp .ro2 {
    height: 0.178in;
}

